$blue_color: #0000FF;

.logoDiv {
	
		display:flex;
		flex-direction: row;
		justify-content: space-between;
		background-color: #e6e6f1;
		color:black;
		border-bottom:2px solid #425b5e;
		height: 100px;
		font-family: 'Open Sans', sans-serif;

	
    .logo{
		display:flex;
		flex-direction: row;
		justify-content: flex-start;
		padding:10px;
		
		img{
		  height:80px;
		}
	}
	.topRight{
		display:flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		
		.navLinks{
			display:flex;
			flex-direction: row;
			align-items: center;
		    list-style: none;
		    text-decoration: none;
		    color:black;

			 .navItem{
			   	 text-decoration: none;
				color:black;
				margin-right: 20px;
				margin-left: 20px;
				padding-top: auto;
				font-size: 18px;
				font-weight:bold;
				&:hover{
					color:blue;
				}
			}
		
		}
		.timerDisplay{
		margin-left:20px;
		margin-right: 10px;
		padding-left :10px;
		width: 120px;
	        font-size:18px;
		  
		
    }

	}
}
.App-logo {
  height: 100px;
  pointer-events: none;
  margin-left:15px;

}

@media screen and (min-width: 900px){
	.logoDiv {
	    .logoName{
		    font-size: 35px;
		}    
	}
}
