.search{
	background-color: #3a4cb0;
	background-image: url('news.jpg');
	background-cover:center;
	background-position: center center;
     background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
	text-align: center;
	height:auto;
	padding:20px;
	display:flex;
	flex-direction: column;
	flex-wrap:nowrap;
	justify-content: center;
	align-items: center;
	font-family: 'Open Sans', sans-serif;
	h1,h2{
		color:white;
	}
}


.searchBar{
	border: 2px solid grey;
	border-radius: 4px;
	width:60%;
	height:50px;
	font-size: 20px;
	padding:10px;

}

@media screen and (min-width: 900px){
	.searchBar{
		width:50%;
	}
	
}
